@import "@scss/modules/index.module.scss";

.submitBtn {
    @extend %fontCoilMedium;

    @include transition(background-color);
    @include flex(row, space-between, center);

    gap: 8px;
    overflow-wrap: normal;

    border-radius: 32px;
    border-style: solid;

    padding: 12px 24px;

    cursor: pointer;

    background-color: $dark;
    border-color: $white;
    color: $white;
    border-width: 0;

    svg {
        path {
            stroke: $white;
        }
    }

    &.submitted {
        background-color: $green-light;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        user-select: none;
    }
}
