@import "@scss/modules/index.module.scss";

.infoCard {
    padding: 8px 12px;

    @media (max-width: $max_sm) {
        padding: 0;
    }
}

.infoCardWrap {
    background-color: $dark;

    height: 704px;

    overflow: hidden;
    border-radius: 32px;

    @media (max-width: $max_lg) {
        height: 624px;
    }

    @media (max-width: $max_sm) {
        height: fit-content;
    }
}

.infoCardContent {
    gap: 12px;
    height: 100%;

    justify-content: space-between;

    @media (max-width: $max_lg_content) {
        padding: 40px 28px;
    }
}
