@import "@scss/modules/index.module.scss";

.row {
    @include flex(column);
}

.content {
    @include flex(row);

    gap: 16px;

    padding: 0px 12px 8px 20px;

    @media (max-width: $max_sm) {
        gap: 8px;
    }
}

.box {
    @include flex(row);

    width: 100%;
    gap: 16px;

    @media (max-width: $max_sm) {
        @include flex(column);

        width: 100%;
    }
}

.roof {
    @include flex();

    width: 100%;
    height: 18.5px;

    border-top: 1.1px solid rgba(0, 0, 0, 0.12);
    border-left: 1.1px solid rgba(0, 0, 0, 0.12);
    border-right: 1.1px solid rgba(0, 0, 0, 0.12);

    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.number {
    @extend %fontCoilSmall;

    @include flex(null, flex-start);

    height: 100%;
    flex-grow: 0;

    color: $dark;
}

.label {
    @extend %fontCofoKakTitle;

    @include flex(null, null, flex-start);

    flex-grow: 1;

    color: $dark;
}

.desc {
    @extend %fontCoilMedium;

    @include flex(null, null, flex-start);

    flex-grow: 0;
    flex-shrink: 0;

    width: 40%;

    color: $dark;

    @media (max-width: $max_sm) {
        width: 100%;
    }
}
