@mixin flex($direction: null, $justify: null, $align: null) {
    display: flex;

    @if $direction !=null {
        flex-direction: $direction;
    }

    @if $justify !=null {
        justify-content: $justify;
    }

    @if $align !=null {
        align-items: $align;
    }
}

@mixin flexPositionSelf($align: null, $justify: null) {
    @if $align !=null {
        align-self: $align;
    }

    @if $justify !=null {
        justify-self: $justify;
    }
}
