@import "@scss/modules/index.module.scss";

.slider {
    @include flex(column);

    gap: 8px;

    padding-bottom: 32px;

    @media (max-width: $max_sm) {
        padding-bottom: 0;
    }
}

.tabList {
    @include flex(row);

    flex-wrap: wrap;
    gap: 8px 2px;
}

.slideList {
    @include flex(column);

    position: relative;

    border-radius: 32px;

    background-color: $green-main;

    min-height: 320px;
}
