@import "@scss/modules/index.module.scss";

.linkBtn {
    @extend %fontCoilMedium;

    @include transition(#{background-color, color, padding, transform});
    @include flex(row, space-between, center);

    gap: 8px;
    overflow-wrap: normal;
    height: 48px;

    border-radius: 32px;
    border-style: solid;

    padding: 12px 24px;

    cursor: pointer;

    svg {
        path {
            @include transition(stroke);
        }
    }

    &:hover {
        background-color: $green-light !important;
        border-color: $green-light !important;
        transform: scale(1.03);
        color: $dark !important;

        svg {
            path {
                stroke: $dark !important;
            }
        }
    }

    &.light {
        background-color: $light;
        border-color: $dark;
        color: $dark;

        svg {
            path {
                stroke: $dark;
            }
        }
    }

    &.white {
        background-color: $white;
        border-color: $dark;
        color: $dark;

        svg {
            path {
                stroke: $dark;
            }
        }
    }

    &.dark {
        background-color: $dark;
        border-color: $white;
        color: $white;

        svg {
            path {
                stroke: $white;
            }
        }
    }

    &.bezh {
        background-color: $bezh;
        border-color: $dark;
        color: $dark;

        svg {
            path {
                stroke: $dark;
            }
        }
    }

    &.green {
        background-color: $green-main;
        border-color: $dark;
        color: $dark;

        svg {
            path {
                stroke: $dark;
            }
        }
    }

    &.greenLight {
        background-color: $green-light;
        border-color: $dark;
        color: $dark;

        svg {
            path {
                stroke: $dark;
            }
        }

        &:hover {
            background-color: $dark !important;
            border-color: $dark !important;
            transform: scale(1.03);
            color: $light !important;

            svg {
                path {
                    stroke: $light !important;
                }
            }
        }
    }

    &.transparent {
        background-color: transparent;
        border-color: $dark;
        color: $dark;

        svg {
            path {
                stroke: $dark;
            }
        }
    }

    &.transparentLight {
        background-color: transparent;
        border-color: $light;
        color: $light;

        svg {
            path {
                stroke: $light;
            }
        }
    }

    &.filled {
        border-width: 0;
    }

    &.outlined {
        padding: 11px 23px;
        border-width: 1px;
    }
}
