@import "@scss/modules/index.module.scss";

.vacancyList {
    $gap: 4px;
    $elInRow: 3;

    @include flex(row);

    flex-wrap: wrap;
    gap: $gap;

    & > * {
        width: calc((100% - ($elInRow - 1) * $gap) / $elInRow);
    }

    @media (max-width: 1260px) {
        & > * {
            $elInRow: 2;
            width: calc((100% - ($elInRow - 1) * $gap) / $elInRow);
        }
    }

    @media (max-width: $max_sm) {
        & > * {
            $elInRow: 1;
            width: calc((100% - ($elInRow - 1) * $gap) / $elInRow);
        }
    }
}
