@import "@scss/modules/index.module.scss";

.stack {
    overflow: hidden;

    @media (max-width: $max_sm) {
        gap: 32px;
    }
}

.stackContent {
    gap: 72px;

    @media (max-width: $max_sm) {
        gap: 32px;
        padding-bottom: 32px;
    }
}
