@import "@scss/modules/index.module.scss";

.card {
    height: 100%;

    min-height: 276px;

    @media (max-width: $max_sm) {
        min-height: 252px;
    }
}

.label {
    @extend %fontCofoKakTitle;

    @include flex(row);

    color: $dark;

    width: 100%;
}

.content {
    @include flex(column, flex-end, flex-start);

    width: 100%;
    min-height: 132px;
}
