@import "@scss/modules/index.module.scss";

.wrap {
    @include flex(row);

    gap: 16px;

    background-color: $light;

    border-radius: 32px;
    padding: 40px 80px 40px 40px;

    @media (max-width: $max_md) {
        margin-top: 16px;
        padding: 32px;
    }

    .title {
        @include flex(column);

        position: relative;

        min-height: 400px;
        min-width: 176px;

        @media (max-width: $max_md) {
            @include flex(row);

            min-height: unset;
            min-width: unset;
        }

        .icon {
            svg {
                height: 32px;
                width: 32px;
            }
        }

        .img {
            position: absolute;
            left: -40px;
            bottom: -54px;

            height: 197px;
            width: 196px;

            object-fit: contain;

            @media (max-width: $max_md) {
                display: none;
            }
        }
    }

    .text {
        @extend %fontCoilMedium;

        @include flex();
    }
}
